<!DOCTYPE html>

<html>

<head>

    <title>Post-Discharge AI</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

    <div class="hero">

        <h1>
            Agentic AI Post-Discharge Care
        </h1>

        <p>
            AI-assisted monitoring and follow-up
            for discharged patients
        </p>

        <a href="{% url 'register_patient' %}">
            Register Patient
        </a>

        <a href="{% url 'doctor_dashboard' %}">
            Doctor Dashboard
        </a>

    </div>

</body>

</html>